@using CRUDWithRepository.Models
@model Product

@{
    ViewData["Title"] = "Product Details";
}


<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="shodow p-3 mb-5 bg-white rounded">
        <form asp-action="Details" method="post">

            <div class="flex-row">
                <label asp-for="Id" class="col-form-label-lg"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>

            <div class="flex-row">
                <label asp-for="ProductName" class="col-form-label-lg"></label>
                <input asp-for="ProductName" class="form-control" readonly />
            </div>

            <div class="flex-row">
                <label asp-for="Price" class="col-form-label-lg"></label>
                <input asp-for="Price" class="form-control" type="number"  readonly/>
            </div>

            <div class="flex-row">
                <label asp-for="Quantity" class="col-form-label-lg"></label>
                <input asp-for="Quantity" class="form-control" type="number" readonly />
            </div>
            <div class="flex-row mt-2">
                <input type="submit" asp-action="Index" value="Back to List" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>